#productsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* background-color: lightgreen; */
}

#header {
    margin-left: 110px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    font-size: 32px;
}