<button type="button" (click)="addCart()">
    POST New Order
</button>

<button type="button" (click)="getCart()">
    GET Cart
</button>

<button type="button" (click)="addToCart()">
    PUT item
</button>

<button type="button" (click)="deleteFromCart()">
    DELETE item from cart | id=1
</button>

<button type="button" (click)="deleteAllFromCart()">
    DELETE all from cart
</button>

<button type="button" (click)="moveCartToOrders()">
    Move cart to orders
</button>

<!-- <button type="button" (click)="updateCart('ebray@bray.tech')">
    UPDATE cart
</button> -->

<!-- <button type="button" (click)="deleteAccount('ebray@bray.tech')">
    DELETE account | email=ebray@bray.tech
</button> -->

<div *ngIf="test != undefined">
    <p>Account: {{test.account}}</p>
    <p>Date: {{test.date}}</p>
    <p>Items: {{test.items}}</p>
</div>
<div *ngIf="test === undefined">
    <p>Account:</p>
    <p>Date:</p>
    <p>Items:</p>
</div>