#signInDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 750px;
}

.entryField {
    width: 400px;
    margin-top: 10px;
}

#submitButton {
    width: 250px;
    height: 50px;
}

#orCreateAccountButton {
    margin-top: 25px;
}

#invalidAccount {
    color: #f44336;
    font-size: 22;
    margin-top: 0px;
}