<div class="headerFooter" id="header">
    <div id="headerContent">
        <button id="logoButton" mat-button routerLink="/homepage">
            Eververse
        </button>
        <button id="headerButton" mat-button [matMenuTriggerFor]="categoryButton">Categories</button>
        <mat-menu #categoryButton="matMenu" xPosition="after">
            <button mat-menu-item>Men's Clothing</button>
        </mat-menu>

        <div id="searchDiv" [ngStyle]="{'border-color': searchBorderColor}">
            <input id="searchInput" type="text" placeholder="Search Eververse" (focus)="searchFocus()" (blur)="searchBlur()">
            <button id="searchButton" mat-icon-button color="primary" [ngStyle]="{transform: 'scale(1.15)'}">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <div id="accountDiv">
                <div id="innerAccountDiv">
                <button id="signinButton" mat-button [matMenuTriggerFor]="accountMenu">
                    <p>{{getName()}}</p>
                </button>
                <mat-menu #accountMenu="matMenu" xPosition="before">
                    <button *ngIf="!isSignedIn" mat-menu-item routerLink="/create-account">
                        Create Account
                    </button>
                    <button *ngIf="!isSignedIn" mat-menu-item routerLink="/sign-in">
                        Sign In
                    </button>
                    <button *ngIf="isSignedIn" mat-menu-item routerLink="/manage-account">
                        Manage Account
                    </button>
                    <button *ngIf="isSignedIn" mat-menu-item (click)="signOut()" routerLink="/homepage">
                        Sign Out
                    </button>
                </mat-menu>
                <button id="cartButton" mat-icon-button [ngStyle]="{transform: 'scale(1.5)'}">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>